


@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}
.small-text1 {
  text-align: center;
  color: #5b5b5b;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}



p {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}
.mr-2
{
  font-size: 60px;


}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  min-width: 700px;
  position: relative;
}

.animated-item {
  color: red ;
}

.animated-item2 {
  color: #FF7F50 ;
}.animated-item3 {
  color: #00CED1 ;
  
}
.animated-item {
  font-size: 60px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}
.animated-item2{
  font-size: 60px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item2:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item2:nth-child(3n+3) {
  animation-delay: 4s;
}
.animated-item3 {
  font-size: 60px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item3:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item3:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bg-image
{
  text-align: center;
}
.bg-image:hover
{
  transform: scaleX(-1);
}

.topnav {
  background-color:#a5e3f1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: yellow;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#007bb6;
  color: white;
}

.site-footer
{

  background-color:#26273b;
  padding:10px 0 100px;
  font-size:15px;
  line-height:34px;
  color:#737373;
}
.social-icons
{
  text-align: center;
  padding-left:50px;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6;
}
.social-icons a.github:hover
{
  background-color:grey;
}

ul{
  line-height: 1em;
}
